<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EMart</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EMart.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
</head>
<body>
    <header class="text-white">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color: #003C43; height:100px;">
            <div class="container-fluid d-flex justify-content-between align-items-center">

                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="margin-left: 70px;">
                    <img src="/Images/logo.png" alt="KitStore Logo" style="width: 150px; height: 50px;" />
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 justify-content-end">

                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark text-white" asp-area="Admin" asp-controller="Category" asp-action="Index">Category</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark text-white" asp-area="Admin" asp-controller="Team" asp-action="Index">Teams</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark text-white" asp-area="Admin" asp-controller="Player" asp-action="Index">Players</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark text-white" asp-area="Admin" asp-controller="Specific" asp-action="Index">Specifics</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark text-white" asp-area="Admin" asp-controller="Brand" asp-action="Index">Brands</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark text-white" asp-area="Admin" asp-controller="Edition" asp-action="Index">Editions</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark text-white" asp-area="Admin" asp-controller="League" asp-action="Index">Leagues</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark text-white" asp-area="Admin" asp-controller="Product" asp-action="Index">Products</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark text-white" asp-area="Admin" asp-controller="Size" asp-action="Index">Sizes</a>
                            </li>
                        }

                        else
                        {
                            <li class="nav-item">
                                <form class="form-inline" asp-area="Customer" asp-controller="Search" asp-action="Index" method="get">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="searchQuery" placeholder="Search" aria-label="Search" aria-describedby="button-addon2" style="width: 500px;">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-light" type="submit" id="button-addon2"><i class="fas fa-search"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </li>

                        }

                    </ul>

                    <ul class="navbar-nav flex-grow-1 justify-content-end">
                        <li class="nav-item">
                            <a id="cart-link" asp-area="Customer" asp-controller="Cart" asp-action="CartItems" class="nav-link text-dark text-white" style="position: relative;">
                                <div style="position: relative; display: inline-block; padding: 10px; width: 55px; height: 40px;">
                                    <span id="cart-count" class="badge badge-pill badge-danger" style="position: absolute; top: 5px; right: 5px; z-index: 1; color: black; background-color: #FFFFFF; width: 20px; height: 20px; border-radius: 50%; text-align: center; line-height: 20px; display: flex; justify-content: center; align-items: center;">0</span>
                                    <i class="fas fa-shopping-cart" style="color: white; font-size: 30px;"></i>
                                </div>
                            </a>
                        </li>

                        <li style="display: flex; justify-content: center;">
                            <a class="nav-link text-white" href="#" data-toggle="modal" data-target="#sidebarModal">
                                <div style="width: 55px; height: 40px; display: flex; justify-content: center; align-items: center; margin-top:5px;">
                                    <i class="fas fa-bars" style="font-size: 30px;"></i>
                                </div>
                            </a>
                        </li>
                    </ul>

                    <div class="modal right fade" id="sidebarModal" tabindex="-1" role="dialog" aria-labelledby="sidebarModalLabel" aria-hidden="true" style="overflow-y: auto; right: 0; margin-right: 0; color:black;">
                        <div class="modal-dialog" role="document" style="position: fixed; right: 0; margin-right: 0; top: 0; margin-top: 0; height: 100%; width: 350px; transform: translateX(1%);">
                            <div class="modal-content" style="min-height: 400px; max-height: 800px;">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="editionDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="min-width: 300px;">
                                            Edition
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="editionDropdown" style="min-width: 250px;">
                                            <ul class="list-unstyled">
                                                <li><a class="dropdown-item" asp-controller="Filter" asp-action="Type" asp-route-editionId="1">World Cup</a></li>
                                                <li><a class="dropdown-item" asp-controller="Filter" asp-action="Type" asp-route-editionId="2">Champions League</a></li>
                                                <li><a class="dropdown-item" asp-controller="Filter" asp-action="Type" asp-route-editionId="3">New Products</a></li>
                                            </ul>
                                        </div>
                                        <div class="dropdown-divider"></div>
                                    </div>

                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="brandDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="min-width: 300px;">
                                            Brand
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="brandDropdown" style="min-width: 250px;">
                                            <ul class="list-unstyled">
                                                <li><a class="dropdown-item" asp-controller="Filter" asp-action="Type" asp-route-brandId="1">Adidas</a></li>
                                                <li><a class="dropdown-item" asp-controller="Filter" asp-action="Type" asp-route-brandId="2">Nike</a></li>
                                                <li><a class="dropdown-item" asp-controller="Filter" asp-action="Type" asp-route-brandId="3">Puma</a></li>
                                                <li><a class="dropdown-item" asp-controller="Filter" asp-action="Type" asp-route-brandId="4">Under Armour</a></li>
                                            </ul>
                                        </div>
                                        <div class="dropdown-divider"></div>
                                    </div>

                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="specificDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="min-width: 300px;">
                                            Specific
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="specificDropdown" style="min-width: 250px;">
                                            <ul class="list-unstyled">
                                                <li><a class="dropdown-item" asp-controller="Filter" asp-action="Type" asp-route-specificId="3">Hero</a></li>
                                                <li><a class="dropdown-item" asp-controller="Filter" asp-action="Type" asp-route-specificId="1">Vintage</a></li>
                                                <li><a class="dropdown-item" asp-controller="Filter" asp-action="Type" asp-route-specificId="2">Legend</a></li>
                                            </ul>
                                        </div>
                                        <div class="dropdown-divider"></div>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>



                    <div style="margin-right: 40px;">
                        <partial name="_LoginPartial" />
                    </div>

                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer class="absolute-bottom" style="background-color: #003C43; color: #fff; padding: 20px 0;">
        <div class="containers">
            <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                    <h5>Follow Us</h5>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <hr style="border-color: #fff;">
            <div class="row">
                <div class="col-md-6">
                    &copy; 2024 - KitStore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
                <div class="col-md-6">
                    <p class="float-md-right">By Sooraj Gopali</p>
                </div>
            </div>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>


</html>



<script>
    var key = "customerId";

    function toFloat(val) {
        if (val === "" || val === 0 || isNaN(val) || val === undefined) {
            return 0;
        } else {
            return parseFloat(val);
        }
    }

    $(document).ready(function () {

        updateCartCount();
        var sId = getLocalStorage(key);
        if (sId == null) {
            var uId = generateUniqueId();
            setLocalStorage(uId)
        }
    });


    function generateUniqueId() {
        var timestamp = new Date().getTime();
        var randomNumber = Math.floor(100000 + Math.random() * 900000);
        var uniqueId = timestamp.toString() + randomNumber.toString();
        return uniqueId;
    }

    function setLocalStorage(value) {
        localStorage.setItem(key, value);
    }

    function getLocalStorage(key) {
        return localStorage.getItem(key);
    }

    function updateCartIcon(totalQuantity) {
        $('#cart-count').text(totalQuantity);
    }

    function updateCartCount() {
        let sessionId = getLocalStorage(key);

        $.ajax({
            url: '/Customer/Home/GetCartCount',
            method: 'GET',
            data: { sessionId: sessionId },
            success: function (data) {
                updateCartIcon(data.count);
            },
            error: function (xhr, status, error) {
                console.error("An error occurred while retrieving cart count:", error);
            }
        });
    }

    $("#cart-link").click(function (event) {
        event.preventDefault();
        var sessionId = getLocalStorage("customerId");
        if (!sessionId) {
            sessionId = generateUniqueId();
            setLocalStorage(sessionId);
        }
        var form = $('<form action="/Customer/Cart/CartItems" method="post">' +
            '<input type="hidden" name="sessionId" value="' + sessionId + '" />' +
            '</form>');
        $('body').append(form);
        form.submit();
    });

</script>
