@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@{
    bool isFirstSignIn = SignInManager.IsSignedIn(User) && !ViewContext.HttpContext.Session.Keys.Contains("hasShownAlert");
    if (isFirstSignIn)
    {
        ViewContext.HttpContext.Session.SetString("hasShownAlert", "true");
    }
}

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                <i class="fas fa-user" style="color: white; font-size: 24px;"></i>
            </a>
        </li>


        @if (isFirstSignIn)
        {
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        }
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">
                <i class="fas fa-user" style="color: white; font-size: 24px;"></i>
            </a>
        </li>
    }
</ul>

