@model IEnumerable<EMart.Models.Models.ViewModels.ProductVM>


@{
    ViewData["Title"] = "Product Display";
}

<div class="container mt-5">
    <div class="row">
        @foreach(var product in ProductVM)
        {
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" src="ImageUrl" alt="Name">
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="card-text">Description</p>
                        <a href="#" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
